In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
df=pd.read_csv("https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv")
df.head()

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
0,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183
1,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842
2,2012-12-19,-5496,-5470,-26,-73,103,3472,-3369,-5466
3,2012-12-26,-4451,-4076,-375,550,2610,3333,-722,-1291
4,2013-01-02,-11156,-9622,-1533,-158,2383,2103,280,-8931

In [42]:
df.dtypes

Date               object
Total Equity        int64
Domestic Equity     int64
World Equity        int64
Hybrid              int64
Total Bond          int64
Taxable Bond        int64
Municipal Bond      int64
Total               int64
dtype: object

In [43]:
df.shape

(44, 9)

In [44]:
df.isna().sum()

Date               0
Total Equity       0
Domestic Equity    0
World Equity       0
Hybrid             0
Total Bond         0
Taxable Bond       0
Municipal Bond     0
Total              0
dtype: int64

Questions

What is the frequency of the dataset? (The time period between each row)

What is the data type of the index?

Set the index to a Datetime.

Change the frequency to monthly, sum the values and assign it to new variable called monthly.

You will notice that it filled the dataFrame with months that don’t have any data with NaN. Let’s drop these rows.

Good, now we have the monthly data. Now change the frequency to year and assign to a new variable called year.

Create your own question and answer it.

***What is the frequency of the dataset? (The time period between each row)***

In [45]:
df['Date']=pd.to_datetime(df['Date'])

In [47]:
df['frequency']=df['Date'] - df['Date'].shift()
df['frequency']

0         NaT
1      7 days
2      7 days
3      7 days
4      7 days
5      7 days
6    448 days
7      7 days
8      7 days
9      7 days
10     7 days
11     7 days
12     7 days
13     7 days
14     7 days
15     7 days
16     7 days
17     7 days
18     7 days
19     7 days
20     7 days
21    21 days
22     7 days
23     7 days
24     7 days
25     7 days
26     7 days
27     7 days
28    56 days
29     7 days
30     7 days
31     6 days
32    43 days
33     7 days
34     7 days
35     7 days
36     7 days
37     7 days
38    21 days
39     7 days
40     7 days
41     7 days
42     7 days
43     7 days
Name: frequency, dtype: timedelta64[ns]

***What is the data type of the index?
Set the index to a Datetime.***

In [48]:
df.index.dtype

dtype('int64')

In [49]:
df.index=pd.to_datetime(df.index)

In [50]:
df.index.dtype

dtype('<M8[ns]')

***Change the frequency to monthly, sum the values and assign it to new variable called monthly.***

In [51]:
df['month']=df['Date'].dt.month
df['year']=df['Date'].dt.year

In [52]:
df.head(2)

,Date,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total,frequency,month,year
1970-01-01 00:00:00.000000000,2012-12-05,-7426,-6060,-1367,-74,5317,4210,1107,-2183,NaT,12,2012
1970-01-01 00:00:00.000000001,2012-12-12,-8783,-7520,-1263,123,1818,1598,219,-6842,7 days,12,2012

In [53]:
monthly=df.groupby(['year','month']).sum()
monthly

<ipython-input-53-3ac30d0aa0ba>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  monthly=df.groupby(['year','month']).sum()

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
year month
2012 12           -26156           -23126         -3031     526        9848
2013 1              3661            -1627          5288    2730       12149
2014 4             10842             1048          9794    4931        8493
     5             -2203            -8720          6518    3172       13767
     6              2319            -6546          8865    4588        9715
     7             -7051           -11128          4078    2666        7506
     8              1943            -5508          7452    1885        1897
     9             -2767            -6596          3829    1599        3984
     11            -2753            -7239          4485     729       14528
2015 1              3471            -1164          4635    1729        7368
     2              5508             3509          1999    1752        9099
     3              5691            -8176         13867    2829        9138
     4               379            -4628          5007     970         423

            Taxable Bond  Municipal Bond  Total
year month
2012 12            12613           -2765 -15782
2013 1              9414            2735  18540
2014 4              7193            1300  24267
     5             10192            3576  14736
     6              7551            2163  16621
     7              7026             481   3122
     8             -1013            2910   5723
     9              2479            1504   2816
     11            11566            2962  12502
2015 1              2762            4606  12569
     2              7443            1656  16359
     3              7267            1870  17657
     4               514             -91   1772

*** Now change the frequency to year and assign to a new variable called year.***

In [54]:
g_year=df.groupby('year').sum()
g_year

<ipython-input-54-1cb3c66f5598>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g_year=df.groupby('year').sum()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total,month
year,,,,,,,,,
2012,-26156,-23126,-3031,526,9848,12613,-2765,-15782,48
2013,3661,-1627,5288,2730,12149,9414,2735,18540,2
2014,330,-44689,45021,19570,59890,44994,14896,79787,179
2015,15049,-10459,25508,7280,26028,17986,8041,48357,28